### Amostra aleatória simples
#### Ferramentas
> * Pandas   
> * Random   
> * Numpy

In [4]:
import pandas as pd
import numpy as np 
import random 
import os

In [31]:
# Importar base de dados
BASE_DIR = os.path.abspath('.')
census = pd.read_csv(os.path.join(os.path.dirname(BASE_DIR),'arqs','census.csv'))
census.shape

(32561, 15)

### Agora você vai determinar a amostra simples com uma própria função do pandas
#### Usando o dataset.sample()

> Nesse caso ele retorna para dentro de um novo dataset a quantidade de registros aleatórios que você determinou.

In [76]:
amostra_simples = census.sample(n = 2)
amostra_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
16182,56,Private,145574,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
27696,26,Private,177147,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K

In [82]:
# Usando o random_state você fixa a sua amostra.
amostra_simples = census.sample(n = 2, random_state=1)
amostra_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K