In [17]:
#Import das minhas conexões
from ConexoesBanco import *
import pandas as pd
import sqlalchemy

#LEMBRANDO QUE, NESSES CASOS, ESTOU JOGANDO O RESULTADO DAS CONSULTAS PARA UM DATAFRAME PANDAS

In [30]:
#metodo read_sql_table
# Especificando Colunas
filial = pd.read_sql_table('GFILIAL',conexaoSQLite(),columns=['CODFILIAL','NOMEFANTASIA','CGC'])
filial.head()

   CODFILIAL                                   NOMEFANTASIA                 CGC
0          1  INTEGRADO COLÉGIO E FACULDADE CAMPO MOURÃO/PR  79.264.628/0001-54
1          2                 CAMPUS UNIVERSITÁRIO INTEGRADO  79.264.628/0003-16
2          3                             INTEGRADO SERVIÇOS  79.264.628/0002-35
3          4                          ADMINISTRAÇÃO CENTRAL  79.264.628/0004-05
4          5                                      TERRA BOA  79.264.628/0005-88

In [64]:
#USANDO MÉTODO READ_SQL_query
filial = pd.read_sql_query(
    '''Select 
        A.CODCOLIGADA,
        A.CODFILIAL,
        A.NOMEFANTASIA 
    from gfilial a 
    where 
    a.codfilial = 2''',
    conexaoSQLite(),
    index_col='CODCOLIGADA'
)

print(filial.head())
print('\n')
print(filial.info())

             CODFILIAL                    NOMEFANTASIA
CODCOLIGADA
1                    2  CAMPUS UNIVERSITÁRIO INTEGRADO


<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 1 to 1
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CODFILIAL     1 non-null      int64
 1   NOMEFANTASIA  1 non-null      object
dtypes: int64(1), object(1)
memory usage: 24.0+ bytes
None

In [107]:
# USANDO READ_SQL PASSANDO PARÂMETROS NOMEADOS
# O :parâmetro é a forma usada pelo SQLite, mas não pelo sql Server
query = '''
    SELECT 
        A.CODCOLIGADA,
        A.CODFILIAL,
        A.NOMEFANTASIA 
    FROM GFILIAL A 
    WHERE 
    A.CODFILIAL = :codcoligada
'''

filial = pd.read_sql_query(query,conexaoSQLite(),params={'codcoligada':1})
print(filial.head())

   CODCOLIGADA  CODFILIAL                                   NOMEFANTASIA
0            1          1  INTEGRADO COLÉGIO E FACULDADE CAMPO MOURÃO/PR

In [128]:
# USANDO READ_SQL PASSANDO PARÂMETROS NOMEADOS
# O :parâmetro é a forma usada pelo SQLite, mas não pelo sql Server
# Pelo SQL Server, o parametro fica como ?
query = '''
    SELECT 
        A.CODCOLIGADA,
        A.CODFILIAL,
        A.NOMEFANTASIA 
    FROM GFILIAL A 
    WHERE 
    A.CODFILIAL = ? and A.CODCOLIGADA = ?
'''

filial = pd.read_sql_query(query,conexaoSQLServer(),params=['2','1'])
print(filial.head())

   CODCOLIGADA  CODFILIAL                    NOMEFANTASIA
0            1          2  CAMPUS UNIVERSITÁRIO INTEGRADO