In [47]:
import pandas as pd

In [48]:
dic = {
    'idturmadisc':[5214,5215,5216,9217],
    'idperlet':[654,654,654,659],
    'coddisc':['ADM-001','ADM-002','ADM-003','LIA-001'],
    'nomeDisciplina' : ['Matemática','Português','História','Literatura']
}

In [49]:
#Criando um dataFrame

sturmadisc = pd.DataFrame(dic)

sturmadisc

   idturmadisc  idperlet  coddisc nomeDisciplina
0         5214       654  ADM-001     Matemática
1         5215       654  ADM-002      Português
2         5216       654  ADM-003       História
3         9217       659  LIA-001     Literatura

In [50]:
#adicionando uma nova coluna

sturmadisc['gerencial'] = 'S'
sturmadisc

   idturmadisc  idperlet  coddisc nomeDisciplina gerencial
0         5214       654  ADM-001     Matemática         S
1         5215       654  ADM-002      Português         S
2         5216       654  ADM-003       História         S
3         9217       659  LIA-001     Literatura         S

In [51]:
#removendo a coluna

sturmadisc.drop('gerencial',axis=1,inplace=True)

sturmadisc

   idturmadisc  idperlet  coddisc nomeDisciplina
0         5214       654  ADM-001     Matemática
1         5215       654  ADM-002      Português
2         5216       654  ADM-003       História
3         9217       659  LIA-001     Literatura

In [52]:
#Adicionando uma nova linha

#Tras o registro 3
sturmadisc.loc[3]

sturmadisc.loc[4] = [2345,563,'DIR-002','Direito Constitucional']
sturmadisc

   idturmadisc  idperlet  coddisc          nomeDisciplina
0         5214       654  ADM-001              Matemática
1         5215       654  ADM-002               Português
2         5216       654  ADM-003                História
3         9217       659  LIA-001              Literatura
4         2345       563  DIR-002  Direito Constitucional

In [53]:
#iteragindo em cima de um dataFrame

for x in sturmadisc:
    print(x)

idturmadisc
idperlet
coddisc
nomeDisciplina

In [54]:
for x in sturmadisc.values:
    print(x)

[5214 654 'ADM-001' 'Matemática']
[5215 654 'ADM-002' 'Português']
[5216 654 'ADM-003' 'História']
[9217 659 'LIA-001' 'Literatura']
[2345 563 'DIR-002' 'Direito Constitucional']